@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.cabecalho {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4.4rem;
  padding-right: 4.4rem;
}

.header-title {
  color: #fff;
  font-size: 10px;
}

.menu-button {
  cursor: pointer;
}

.background {
  background-image: url("../_images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 1rem;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.equipe {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pessoa {
  text-align: center;
}

.pessoa > img {
  width: 200px;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.formulario > label {
  margin-top: 15px;
}

.formulario > input {
  padding: 5px;
}

.formulario > textarea {
  height: 10vh;
}

.formulario > button {
  margin-top: 10px;
  width: 30%;
  cursor: pointer;
  background-color: #ccc;
  border: none;
  padding: 5px;
}

.formulario > button:hover {
  background-color: #aaa;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #333333;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem;
}
